.App {
  text-align: center;
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  height: 90%;
  background-color: black;
}

#nav{
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

body {
  padding-top: 25px;
  color: blueviolet;
  background-color: black;
  margin: auto;
  width: 90%;
  height: 90%;
}

.contain{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
}

.test {
  float: left;
  border: 5px solid black;
  border-radius: 25px;
  background-color: white;
}

.name {
  text-align: center;
}

.team{
  width: 100%;
  height: 400px;
}

.teamCard{
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}

.build{
  text-align: center;
}

.sort{

  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}

.title {
  text-align: center;
}

.logo{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.rateContainer{
  width: 100%;
  height: 229px;
  margin-left: auto;
  margin-right: auto;
}

.rateTeam{
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 5px solid blue;
  background-color: white;
  text-align: center;
}

.join{
  width: 10%;
  padding : 10px;
  margin-left: auto;
  margin-right: auto;
}

.add{
  text-align: center;
}

.Form{
  padding-top: 25px;
  text-align: center;
}

.new{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center{
  text-align: center;
}

.tryIt{
  color: gold;
  background-color: blue;
  border-radius: 25px;
  padding-bottom: 10px;
}